img {
    max-height:500px;
    width:100%;
}

button {
    min-width: 65px;
}

.grid-container {
    display: grid;
    grid-template-columns: 10% 70% 20%;
    grid-template-rows: 50% 50%;
}

.grid-btn {
    margin-top:25px;
    grid-column:1;
    grid-row:1;
}

.grid-heading {
    font-size: 30px;
    text-align: center;
    grid-column:2;
    grid-row:2;
}

.grid-favorite {
    grid-column: 3;
    grid-row:2;
    text-align: right;
}

.grid-favourite > a {
    vertical-align: super;
    font-size:21px;
    color:inherit;
}


.grid-favorite:hover .cookie-empty{
    content: url('../../../assets/cookie-full.png');
}

.cookie {
    width:30px;
    vertical-align: bottom;
}

.cookie-empty {
    content: url('../../../assets/cookie-empty.png');
}

.cookie-full {
    content: url('../../../assets/cookie-full.png');
}

@media screen and (max-width:991px) {
    .grid-container {
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        padding:0 22px;
    }
    
    .grid-btn {
        grid-column:1 / span 2;
        margin-top:0;
        margin-bottom:25px;
    }

    .grid-btn > button {
        width:100%;
    }

    .grid-heading {
        grid-column:1;
        text-align: left;
    }
==== BASE ====
==== BASE ====
}
