img {
    max-width:100%;
}

.img-wrapper {
    border: 1px solid #fff1db;
    border-radius: 6px;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.img-wrapper > img {
    width:100%;
}

.thumbnail:hover .double-arrow {
    animation:1.3s ease-in moving-arrow infinite;
}

.double-arrow {
    vertical-align: bottom;
    color:#232323;
}

span {
    font-weight: 600;
}

.caption {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@keyframes moving-arrow {
    from {
        opacity:0.5;
    }
    to {
        opacity:1;
        margin-left:60%;
    }
}