<div class="row"> 

    <div class="col-md-6">

        <div class="margin-fix">

            <form (ngSubmit)="searchForRestaurants()">
                <input 
                    type="search"
                    placeholder="Search for: (eg. bakery, restaurant, fast food, etc...)"
                    class="form-control"
                    #queryEl><button        
                                type="submit" 
                                class="btn btn-primary"
                                style="border-top-left-radius: 0;
                                       border-bottom-left-radius: 0;">
                                Search
                            </button>
            </form>
            
        </div>

        <router-outlet></router-outlet>

    </div>
    <div class="col-md-6">
        
        <div class="margin-fix">
            <button class="btn btn-warning form-control" type="button" (click)="onToggleMap()">Toggle Map</button>
        </div>
        
        <ng-template [ngIf]="showMap">
            <div class="mapHolder">
                <agm-map 
                [latitude]="lat" 
                [longitude]="lng"
                [zoom]="14">
                    <agm-marker 
                        [latitude]="lat" 
                        [longitude]="lng"
                        title="Your location">
                    </agm-marker>
                    <agm-marker
                        *ngFor="let place of ((restaurantsState | async).selectedRestaurant !== null ? [(restaurantsState | async).selectedRestaurant] : (restaurantsState | async).restaurants)"
                        [latitude]="place.location.lat"
                        [longitude]="place.location.lng"
                        [title]="place.name">
                    </agm-marker>
                </agm-map>
            </div>
        </ng-template>

    </div>
    
</div>
    

    
