.navbar {
    margin-bottom:0;
    padding:0 15px;
    overflow:visible;
    background-color:#454555;
    border-bottom: 1px solid #f7f5e6;
}

.container-fluid {
    padding-right: 30px;
}

.navbar-brand .navbar-header {
    text-align: center;
}

h4 {
    margin-left:20px;
}

#menu , label {
    display:none;
}

.dash {
    margin-top:15px; 
    color:#f7f5e6;
}

@media screen and (max-width: 767px) {
    .dash {
        display:none;
    }
    
    .navbar-header {
        float: left;
    }

    .collapsible-menu {
        text-align: right;
    }

    .collapsible-menu label {
        height:38px;
        line-height:20px;
        display: inline-block;
        margin-top:4px;
        width:30px;
        cursor: pointer;
        background: url('../../../assets/menu-icon.png') no-repeat center;
        background-size:30px 30px;
    }

    .menu-content {
        max-height:0;
        overflow: hidden;
        text-align:center;  
    }    

    input:checked ~ .menu-content {
        max-height:100%;
    }

}

@media screen and (max-width: 910px) {
    [class^="col-"] {
        width:auto;
    }
}